.contact{
    padding:100px 10%;
    background:#111827;
    text-align:center;
}

.contact h2{
    color:#38bdf8;
    font-size:45px;
    margin-bottom:50px;
}

.contact-box{
    max-width:700px;
    margin:auto;
    background:#1e293b;
    padding:40px;
    border-radius:18px;
    border:1px solid rgba(56,189,248,.2);
}

.contact-box p{
    color:white;
    margin:20px 0;
    font-size:18px;
}

.contact-box a{
    color:#38bdf8;
    text-decoration:none;
}