@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b1120;
color:white;
overflow-x:hidden;
}

html{
scroll-behavior:smooth;
}

.navbar{

position:fixed;
top:0;
left:0;
width:100%;
padding:18px 9%;
display:flex;
justify-content:space-between;
align-items:center;

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border-bottom:1px solid rgba(255,255,255,.08);

z-index:999;

}

.logo{

font-size:30px;
font-weight:700;

}

.logo span{

color:#38bdf8;

}

.nav-links{

display:flex;
list-style:none;
gap:35px;

}

.nav-links a{

text-decoration:none;
color:white;
font-size:17px;
transition:.3s;

}

.nav-links a:hover{

color:#38bdf8;

}

.social{

display:flex;
gap:18px;

}

.social a{

font-size:24px;
color:white;
transition:.3s;

}

.social a:hover{

transform:translateY(-5px);

color:#38bdf8;

}
.menu-icon{
display:none;
font-size:28px;
cursor:pointer;
color:white;
}

@media(max-width:768px){

.menu-icon{
display:block;
}

.nav-links{

position:absolute;
top:75px;
left:0;

width:100%;

background:#0b1120;

display:none;

flex-direction:column;

text-align:center;

padding:25px 0;

}

.nav-links.active{

display:flex;

}

.social{

display:none;

}

}