.projects{
    padding:100px 10%;
    background:#0b1120;
    text-align:center;
}

.projects h2{
    color:#38bdf8;
    font-size:45px;
    margin-bottom:60px;
}

.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.project-card{
    background:#1e293b;
    padding:30px;
    border-radius:18px;
    transition:.4s;
    border:1px solid rgba(56,189,248,.2);
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 30px rgba(56,189,248,.45);
}

.project-card h3{
    color:#38bdf8;
    margin-bottom:10px;
}

.project-card h4{
    color:#94a3b8;
    margin-bottom:15px;
    font-weight:500;
}

.project-card p{
    color:#d1d5db;
    line-height:1.7;
}